<info>
  <h1>Rescue<strong> Mission</strong></h1>
  <p>write your best Answer</p>
</info>

<div class="page">
  <strong>Title</strong>
    <%= markdown(@question.title) %>
  <br>
  <strong>Description</strong>
    <%= markdown(@question.description) %>

<h1>New Answer</h1>
  <%= render 'form' %>
</div>

<%= link_to 'Back', root_path %>
