<p>
  <strong>Title:</strong>
  <%= markdown(@question.title) %>

  <br>

  <strong>Description:</strong>
  <%= markdown(@question.description) %>
</p>

<h1>New Answer</h1>

<%= render 'form' %>

<%= link_to 'Back', questions_path %>
